---
layout: page
title: {{ .Title }}
raids:
{{ range $raid, $summary := .Guild.Progress }}  {{ $raid }}: {{ $summary }}
{{ end }}
---
<a href="https://wacraftlogs.com/guild/{{ .Guild.Region }}/{{ .Guild.Realm }}/{{ .Guild.Name }}" target="_blank">Warcraft Logs</a>
<table class="sortable">
    <tr>
        {{ range .Headers }}<td>{{ . }}</td>{{ end }}
    </tr>
    <tr>
        {{ range $i, $item := .Headers }}<td>
            {{ if gt $i 1 }}<a href="#{{ $item }}">info</a>{{ end }}
        </td>{{ end }}
    </tr>
    {{ range .Items }}
    <tr>
        {{ range . }}
        <td {{ if ne . "0" }}class="hit"{{ end }}{{ if eq . "0" }}class="miss"{{ end }}>{{.}}</td>
        {{ end }}
    </tr>
    {{ end }}
</table>
<b>Note</b>: Characters with attendance &lt; {{ .Guild.IgnoreAtt }}% are ignored.

{{ range .Feed }}
<h2 id="{{ .Title }}">{{ .Title }}</h2>
<ul>
    {{  $bosses := .Bosses }}
    {{ range $bosses }}
    <li><b>{{ .Name }}</b> {{ .Difficulty }} x{{ .Tries }} - {{ if .Killed }}<span class="hit">killed</span>{{ else }}<span class="miss">wiped{{ end }}</li>
    {{ end }}
    <li><a href="./{{ .Path }}.html" class="show-raid-attendance" data-id="{{ .Path }}">show raid attendance</a></li>
</ul>
{{ end }}
