---
layout: nil
---
{{ $att := .Attendance }}
{{  $bosses := .Bosses }}
<table class="sortable">
    <tr>
        <td>Pulls</td>
        {{ range $bosses }}<td>{{ .Name }}</td>{{ end }}
    </tr>
    {{ range $raider, $boss := $att }}
    <tr>
        <td>{{ $raider }}</td>
        {{ range $bosses }}
        <td>{{ index $boss .Name }}</td>
        {{ end }}
        {{ end }}
    </tr>
</table>
